<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/monk_noTrans.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>From a dynamic file.</p>
            <img class="portrait" src="/img/GG_Russey-400x400-bw.jpg">
        </div>
        {{>footer}}
    </body>
</html>